<div class="h-20"></div>

<header class="flex h-20 fixed top-0 left-0 right-0 bg-neutral-900/100 z-10">
    <!--Logo-->
    <button class="navbar-brand flex my-auto ms-2 flex-shrink-0 hover:bg-neutral-600 rounded-xl w-64 h-16"
            hx-get="@Endpoints.Feed.Recommendations">
        <i class="fa-solid fa-play text-white my-auto m-4"></i>
        <p class="text-white my-auto m-4">Youtube clone</p>
    </button>

    <!--Searchbar: large viewport-->
    <div class="max-[335px]:hidden ms-auto my-auto flex-shrink min-w-0 me-3">
        @await Html.PartialAsync("_searchbox")
    </div>

    <!--Searchbar: small viewport-->
    <details class="min-[336px]:hidden flex-shrink-0 ms-auto me-3 my-auto">
        <!-- Button to be visible -->
        <summary class="rounded-full w-12 h-12 bg-neutral-800 hover:bg-neutral-200 flex cursor-pointer">
            <i class="fa-solid fa-magnifying-glass text-white m-auto"></i>
        </summary>

        <!-- Content will be hidden until the user clicks on the summary button. -->
        <div class="mx-3 h-12 left-0 right-0 top-16 my-2 absolute inset-0 text-gray-600">
            @await Html.PartialAsync("_searchbox")
        </div>
    </details>

    <script>
        var details = [...document.querySelectorAll('details')];
        document.addEventListener('click', function (e) {
            if (!details.some(f => f.contains(e.target))) {
                details.forEach(f => f.removeAttribute('open'));
            } else {
                details.forEach(f => !f.contains(e.target) ? f.removeAttribute('open') : '');
            }
        })
    </script>
</header>
