<form method="get" class="flex flex-shrink min-w-0" asp-controller="videos" asp-action="search">
    <div class="bg-neutral-800 rounded-xl w-full my-auto relative h-12 flex-shrink min-w-0 flex">
        <input type="search" id="q" name="q" class="h-12 bg-transparent focus:outline-none flex-shrink flex-grow ms-4 me-12 my-auto min-w-0" placeholder="Search..."
               required>
        <button type="submit" class="rounded-r-xl w-12 hover:bg-neutral-200 flex absolute right-0 top-0 bottom-0">
            <img src="https://img.icons8.com/ios/22/FFFFFF/search--v1.png" alt="search-icon" class="m-auto" />
        </button>
    </div>
</form>