@model HomeViewModel;

<!--Set defaults for htmx, inherited by descendants-->
<div
    hx-target="#@KnownNames.ContentView"
    hx-indicator="#@KnownNames.ProgressSpinner"
    hx-boost="true"
    hx-replace-url="true"
    hx-push-url="true">

    @await Html.PartialAsync(Partials.Page.Header)
    @await Html.PartialAsync(Partials.Page.Sidebar)

    <!--Trigger initial load-->
    <init
        hx-get="@Model.InitialRequestUrl"
        hx-trigger="load"></init>

    <!--Content view-->
    <div class="absolute left-20 top-20 right-0 bottom-0">
        <div id="@KnownNames.ContentView" class="h-full w-full"></div>
        <div id="@KnownNames.ProgressSpinner" class="absolute left-0 right-0 top-0 bottom-0 htmx-indicator spinner-border mx-auto my-5 transition-opacity border-l-white border-t-white border-b-white pointer-events-none" role="status"></div>
    </div>
</div>
