<sidebar class="fixed top-20 left-0 w-20 items-start flex flex-col hover:z-10">

    <button class="group hover:bg-neutral-600 rounded-xl ms-2 mb-2 w-64 h-16 flex transition-colors"
            hx-get="@Endpoints.Feed.Recommendations">
        <i class="fa-solid fa-list text-white my-auto m-4"></i>
        <p class="my-auto m-4 text-transparent group-hover:text-white transition-colors">Browse</p>
    </button>

    <button class="group hover:bg-neutral-600 rounded-xl ms-2 mb-2 w-64 h-16 flex transition-colors"
            hx-get="@Endpoints.User.Me">
        <i class="fa-solid fa-user text-white my-auto m-4"></i>
        <p class="my-auto m-4 text-transparent group-hover:text-white transition-colors">Your account</p>
    </button>

    <button class="group hover:bg-neutral-600 rounded-xl ms-2 w-64 h-16 flex transition-colors">
        <i class="fa-solid fa-bookmark text-white my-auto m-4"></i>
        <p class="my-auto m-4 text-transparent group-hover:text-white transition-colors">Bookmarks</p>
    </button>
</sidebar>